# Ignore binaries
*.exe
*.dll
*.pdb
*.app
*.dylib
*.so
*.a
*.lib

# Ignore intermediate files
Intermediate/
Saved/
DerivedDataCache/

# Ignore user-specific files
*.user
*.userprefs
*.uprojectdirs
*.sln
*.suo

# Ignore temporary files
*.tmp
*.log
*.vs
.vscode/